<!--<!DOCTYPE html>
<div data-role="view" data-title="AVALUO VEHICULO" data-layout="main" data-model="app.avaluo_vehi" data-show="app.avaluo_vehi.onShow"
     data-after-show="app.avaluo_vehi.afterShow" id="avaluo_vehiScreen" class="screen" style="position :relative;" data-stretch="true">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-align="right" class="fa fa-reply" href="components/home/view.html"  onclick="verMenu('1')" aria-hidden="true" data-role="button"></a>
            <div id="navigation-container-more" style="display: none">
            </div>
        </div>
    </header>
    <form>
        <div class="fondoRojoLogin">
            <div class="container">
                <div class="form-group">
                    <table align="center" cellpadding="0" cellspacing="0" width="100">
                        <tr>
                            <td colspan="2">
                                <input class="w3-input w3-border textos2" id="infoPlacasVINUsa" name="infoPlacasVINUsa" type="text" placeholder="Placa o VIN" style="text-transform:uppercase;" value="">
                            </td>
                            <td align="center">
                                <a class="w3-btn w3-red primary" aria-label="Buscar" onclick="llamarUSA(document.getElementById('infoPlacasVINUsa').value);">
                                    <i class="fa fa-search" aria-hidden="true"></i>Buscar
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div id="gridVINUsa" style="font-size:11px; display:initial"></div>
                    <div class="row" style="min-width:95%"></div>
                    <div id="vehiculoUsa"></div>
                    <div id="tabstripUsa" style="display: block">
                        <ul>
                            <li class="k-state-active">
                                <i class="fa fa-car fa-lg " aria-hidden="true" title="Datos del Vehiculo"></i>
                            </li>
                            <li>
                                <i class="fa fa-user fa-lg" aria-hidden="true" title="Historial Mantenimientos"></i>
                            </li>
                            <li>
                                <i class="fa fa-dashboard fa-lg" aria-hidden="true" title="Formulario"></i>
                            </li>
                            <li>
                                <i class="fa fa-clipboard fa-lg" aria-hidden="true" title="Inspeccion Visual"></i>
                            </li>
                            
                        </ul>
                        <div>
                            <div id="datosVEHUsa2222">
                                <div class="demo-section k-content wide">
                            <div>
                                <p>
                                    <b>DATOSss VEH&#205;CULO</b>
                                </p>
                                <table style="width:100%;">
                                    <tr>
                                        <td width="50%">
                                            <p>
                                                <label class="w3-text-red">
                                                    <b>
                                                        VIN
                                                    </b>
                                                </label><input id="chasisUsa" data-bind="value: chasisUsa" placeholder="VIN" style="text-transform:uppercase;" class="w3-input w3-border textos" disabled="true" />
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                <label class="w3-text-red"><b>Motor</b></label>
                                                <input id="motorUsa" data-bind="value: motorUsa" placeholder="Motor" class="w3-input w3-border textos" disabled="true" />
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%">
                                            <p>
                                                <label class="w3-text-red">
                                                    <b>
                                                        A&ntilde;o
                                                    </b>
                                                </label><input id="anio_modeloUsa" data-bind="value: anio_modeloUsa" placeholder="A&ntilde;o Modelo" class="w3-input w3-border textos" disabled="true" />
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                <label class="w3-text-red"><b>Kilometraje</b></label>
                                                <input id="kilometrosUsa" data-bind="value: kilometrosUsa" placeholder="Kilometraje" class="w3-input w3-border textos" disabled="true" />
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%">
                                            <p>
                                                <label class="w3-text-red"><b>Marca</b></label>
                                                <div id="divcbomarcasUsa"></div>
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                <label class="w3-text-red"><b>Modelo</b></label>
                                                <div id="divcboModeloUsa"></div>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%">
                                            <p>
                                                <label class="w3-text-red"><b>Des. Model</b></label>
                                                <input id="desmodeloUsa" data-bind="value: desmodeloUsa" placeholder="Descripcion del Modelo" class="w3-input w3-border textos" disabled="true" />
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                <label class="w3-text-red"><b>Color</b></label>
                                                <div id="divcboColorUsa"></div>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%">
                                            <p>
                                                <label class="w3-text-red">
                                                    <b>
                                                        Cilindraje
                                                    </b>
                                                </label><input id="cilindrajeUsa" data-bind="value: cilindrajeUsa" placeholder="Cilindraje" class="w3-input w3-border textos" disabled="true" />
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                <label class="w3-text-red"><b>Placa</b></label>
                                                <input id="placaUsa" data-bind="value: placaUsa" placeholder="Placa" class="w3-input w3-border textos" disabled="true" />
                                            </p>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td width="50%">
                                            <p>
                                                <label class="w3-text-red">
                                                    <b>
                                                        A&ntilde;o Matricula
                                                    </b>
                                                </label><input id="anio_matriculaUsa" data-bind="value: anio_matriculaUsa" placeholder="A&ntilde;o de Matriculo" class="w3-input w3-border textos" disabled="true" />
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                <label class="w3-text-red"><b>Ubicacion Fisica</b></label>
                                                <div id="divcboUbicaUsa"></div>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                <p>
                                    <label class="w3-text-red"><b>Fecha Recepci&oacute;n</b></label>
                                    <input id="fecha_recepcionUsa" type="text" class="w3-input textos" readonly>
                                </p>
                                <table>
                                    <tr>
                                        <td width="30%">
                                            <p>
                                                <label class="w3-text-red">
                                                    <b>
                                                        A&ntilde;o
                                                    </b>
                                                </label><input id="anio_vh62Usa" data-bind="value: anio_vh62Usa" placeholder="A&ntilde;o VH62" class="w3-input w3-border textos" disabled="true" />
                                            </p>
                                        </td>
                                        <td width="35%">
                                            <p>
                                                <label class="w3-text-red"><b>Secuencia</b></label>
                                                <input id="secuenciaUsa" data-bind="value: secuenciaUsa" placeholder="Secuencia" class="w3-input w3-border textos" disabled="true" />
                                            </p>
                                        </td>
                                        <td width="35%">
                                            <p>
                                                <label class="w3-text-red"><b>Estado</b></label>
                                                <input id="estadoUsa" data-bind="value: estadoUsa" placeholder="Estado" class="w3-input w3-border textos" disabled="true" />
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            </div>
                            </div>
                        </div>
                        <div>
                            <div id="datosVEHUsa2222">
                            <div class="demo-section k-content wide">
                            <div>
                                <p>
                                    <b>ESTADO DE MANTENIMIENTO</b>
                                </p>
                                <table id="tablaPrmEMUSA" style="display:none" width="100%" border="0" cellspacing="15" cellpadding="0">
                                    <tr>
                                        <td width="55%">
                                            <p>
                                                <label class="w3-text-red"><b>&#218;ltimo ingreso taller</b></label>
                                                <input name="fecEMUSA" type="text" id="fecEMUSA" class="w3-input textos" readonly>
                                            </p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td width="30%">
                                            <p>
                                                <label class="w3-text-red"><b>Km.</b></label>
                                                <input name="kmEMUSA" type="text" id="kmEMUSA" class="w3-input textos" readonly>
                                            </p>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>
                                <table id="tableEMUSA" style="display:none">
                                    <tr>
                                        <td class="clase">
                                            <input type="text" value="5,000" style="width: 90%;" align="center" disabled>
                                        </td>
                                        <td>
                                            <input id="cl5000U" type="text" style="width: 30%;" disabled>
                                        </td>
                                        <td>
                                            <i id="cx5000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;width: 30%;"></i> <i id="cx5000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;width: 30%;"></i>
                                        </td>
                                        <td class="clase">
                                            <input type="text" value="80,000" style="width: 90%;" align="right" disabled>
                                        </td>
                                        <td>
                                            <input id="cl80000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx80000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx80000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clase">
                                            <input type="text" value="10,000" style="width: 90%;" align="rigth" disabled>
                                        </td>
                                        <td>
                                            <input id="cl10000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx10000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;width: 30%;"></i> <i id="cx10000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;width: 30%;"></i>
                                        </td>
                                        <td class="clase">
                                            <input type="text" value="85,000" style="width: 90%;" align="middle" disabled>
                                        </td>
                                        <td>
                                            <input id="cl85000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx85000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx85000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clase">
                                            <input type="text" value="15,000" style="width: 90%; " align="center" disabled>
                                        </td>
                                        <td>
                                            <input id="cl15000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx15000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx15000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                        <td class="clase">
                                            <input type="text" value="90,000" style="width: 90%;" align="right" disabled>
                                        </td>
                                        <td>
                                            <input id="cl90000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx90000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx90000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clase">
                                            <input type="text" value="20,000" style="width: 90%;" align="rigth" disabled>
                                        </td>
                                        <td>
                                            <input id="cl20000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx20000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx20000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                        <td class="clase">
                                            <input type="text" value="95,000" style="width: 90%;" align="middle" disabled>
                                        </td>
                                        <td>
                                            <input id="cl95000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx95000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx95000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clase">
                                            <input type="text" value="25,000" style="width: 90%; " align="center" disabled>
                                        </td>
                                        <td>
                                            <input id="cl25000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx25000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx25000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                        <td class="clase">
                                            <input type="text" value="100,000" style="width: 90%;" align="right" disabled>
                                        </td>
                                        <td>
                                            <input id="cl100000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx100000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx100000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clase">
                                            <input type="text" value="30,000" style="width: 90%;" align="rigth" disabled>
                                        </td>
                                        <td>
                                            <input id="cl30000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx30000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx30000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                        <td class="clase">
                                            <input type="text" value="105,000" style="width: 90%;" align="middle" disabled>
                                        </td>
                                        <td>
                                            <input id="cl105000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx105000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx105000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clase">
                                            <input type="text" value="35,000" style="width: 90%; " align="center" disabled>
                                        </td>
                                        <td>
                                            <input id="cl35000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx35000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx35000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                        <td class="clase">
                                            <input type="text" value="110,000" style="width: 90%;" align="right" disabled>
                                        </td>
                                        <td>
                                            <input id="cl110000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx110000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx110000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clase">
                                            <input type="text" value="40,000" style="width: 90%;" align="rigth" disabled>
                                        </td>
                                        <td>
                                            <input id="cl40000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx40000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx40000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                        <td class="clase">
                                            <input type="text" value="115,000" style="width: 90%;" align="middle" disabled>
                                        </td>
                                        <td>
                                            <input id="cl115000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx115000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx115000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clase">
                                            <input type="text" value="45,000" style="width: 90%; " align="center" disabled>
                                        </td>
                                        <td>
                                            <input id="cl45000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx45000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx45000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                        <td class="clase">
                                            <input type="text" value="120,000" style="width: 90%;" align="right" disabled>
                                        </td>
                                        <td>
                                            <input id="cl120000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx120000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx120000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clase">
                                            <input type="text" value="50,000" style="width: 90%;" align="rigth" disabled>
                                        </td>
                                        <td>
                                            <input id="cl50000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx50000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx50000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                        <td class="clase">
                                            <input type="text" value="125,000" style="width: 90%;" align="middle" disabled>
                                        </td>
                                        <td>
                                            <input id="cl125000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx125000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx125000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clase">
                                            <input type="text" value="55,000" style="width: 90%; " align="center" disabled>
                                        </td>
                                        <td>
                                            <input id="cl55000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx55000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx55000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                        <td class="clase">
                                            <input type="text" value="130,000" style="width: 90%;" align="right" disabled>
                                        </td>
                                        <td>
                                            <input id="cl130000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx130000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx130000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clase">
                                            <input type="text" value="60,000" style="width: 90%;" align="rigth" disabled>
                                        </td>
                                        <td>
                                            <input id="cl60000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx60000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx60000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                        <td class="clase">
                                            <input type="text" value="135,000" style="width: 90%;" align="middle" disabled>
                                        </td>
                                        <td>
                                            <input id="cl135000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx135000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx135000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clase">
                                            <input type="text" value="65,000" style="width: 90%; " align="center" disabled>
                                        </td>
                                        <td>
                                            <input id="cl65000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx65000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx65000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                        <td class="clase">
                                            <input type="text" value="140,000" style="width: 90%;" align="right" disabled>
                                        </td>
                                        <td>
                                            <input id="cl140000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx140000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx140000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clase">
                                            <input type="text" value="70,000" style="width: 90%;" align="rigth" disabled>
                                        </td>
                                        <td>
                                            <input id="cl70000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx70000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx70000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                        <td class="clase">
                                            <input type="text" value="145,000" style="width: 90%;" align="middle" disabled>
                                        </td>
                                        <td>
                                            <input id="cl145000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx145000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx145000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clase">
                                            <input type="text" value="75,000" style="width: 90%; " align="center" disabled>
                                        </td>
                                        <td>
                                            <input id="cl75000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx75000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx75000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                        <td class="clase">
                                            <input type="text" value="150,000" style="width: 90%;" align="right" disabled>
                                        </td>
                                        <td>
                                            <input id="cl150000U" type="text" style="width: 30%; " disabled>
                                        </td>
                                        <td>
                                            <i id="cx150000vU" class="fa fa-check" aria-hidden="true" style="color:green; display:none;"></i> <i id="cx150000xU" class="fa fa-times" aria-hidden="true" style="color:red; display:none;"></i>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            </div>
                            </div>
                        </div>
                        <div>
                            <div class="demo-section k-content wide">
                            <div>
                                <p>
                                    <b>ESTADO DE MANTENIMIENTO</b>
                                </p>
                                <div id="divOtEstado" style="display:none">
                                </div>
                            </div>
                            </div>
                        </div>
                        <div>
                            <div class="demo-section k-content wide">
                            <div>
                                <p>
                                    <b>ESTADO DE MANTENIMIENTO</b>
                                </p>
                                <div id="divInspeccion" style="display: none">
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer data-role="footer">
            <table width="100%">
                <tr>
                    <td align="center">
                        <div id="btnGuardaInfoUsa">
                            
                        </div>
                    </td>
                </tr>
            </table>
        </footer>
    </form>
</div>-->
<!--<style>
    html,
    body,
    #tabstrip-parent,
    #tabstrip {
        height: 100%;
        margin: 0;
        padding: 0;
        border-width: 0;
    }
</style>-->-->