<!DOCTYPE html>
<div data-role="view" data-title="ESTADO CERTIFICA" data-layout="main" data-model="app.certificaG" data-show="app.certificaG.onShow"
     data-after-show="app.certificaG.afterShow" id="certificaGScreen" class="screen" style="position :relative;">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-align="right" class="fa fa-reply" href="components/home/view.html" onclick="verMenu('1')" aria-hidden="true" data-role="button"></a>
            <div id="navigation-container-more" style="display: none">
            </div>
        </div>
    </header>
    <header data-role="header">
        <div>
             <table align="center" cellpadding="0" cellspacing="0" width="100">
                 <tr>
                     <td colspan="2">
                         <input class="w3-input w3-border textos2" id="infoPlacasCert" name="infoPlacasCert" type="text" placeholder="Placa o VIN" style="text-transform:uppercase;" value="">                        
                     </td>
                     <td align="center">
                         <a id="btnBuscarC0" class="w3-btn primary" aria-label="Buscar" onclick="llamarAvaluo(document.getElementById('infoPlacasCert').value);">
                             <i id="icnBuscarC0" class="fa fa-search" aria-hidden="true"></i>Buscar
                         </a>
                     </td>
                 </tr>
             </table>
        </div>
    </header>
    <table align="center" width="2000px" border="0" cellspacing="0" cellpadding="0" id="tablaOTDetalleG" style="display:block">
        <tr>
            <td>
                <!--<div id="gridListaOrdenes" style="font-size:11px"></div>-->
                <!-- <div id="gridCertificaG" style="font-size:11px;"></div> -->
                <div class="fondoRojoLogin">
                    <div class="container">
                        <div class="form-group">
                            <br />
                            <div id="gridCertificaG" style="font-size:11px; width:2000px"></div> 
                        </div>
                    </div>
                </div>

            </td>
        </tr>
    </table>
    <!-- <div class="fondoRojoLogin">
        <div class="container">
            <div class="form-group">
                <br />
                <div id="gridCertificaG" style="font-size:11px; width:2000px"></div> 
            </div>
        </div>
    </div> -->
    <footer data-role="footer">
        <table width="100%" >
            <tr>
                <td align="center" >
                    <div id="btnGuardaInfoCert">
                    </div>
                </td>
            </tr>
        </table>
    </footer>
</div>
